### -pima_indians

### 1.데이터 전처리

In [17]:
import pandas as pd
pima = pd.read_csv('pima-indians-diabetes.csv',skiprows = 9,names=["pregnant","plasma","pressure","thickness","insulin","BMI","pedigree","age","class"])

In [18]:
pima

,pregnant,plasma,pressure,thickness,insulin,BMI,pedigree,age,class
0,6,148,72,35,0,33.6,0.627,50,1
1,1,85,66,29,0,26.6,0.351,31,0
2,8,183,64,0,0,23.3,0.672,32,1
3,1,89,66,23,94,28.1,0.167,21,0
4,0,137,40,35,168,43.1,2.288,33,1
...,...,...,...,...,...,...,...,...,...
763,10,101,76,48,180,32.9,0.171,63,0
764,2,122,70,27,0,36.8,0.340,27,0
765,5,121,72,23,112,26.2,0.245,30,0
766,1,126,60,0,0,30.1,0.349,47,1
767,1,93,70,31,0,30.4,0.315,23,0

In [19]:
pima.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 768 entries, 0 to 767
Data columns (total 9 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   pregnant   768 non-null    int64
 1   plasma     768 non-null    int64
 2   pressure   768 non-null    int64
 3   thickness  768 non-null    int64
 4   insulin    768 non-null    int64
 5   BMI        768 non-null    float64
 6   pedigree   768 non-null    float64
 7   age        768 non-null    int64
 8   class      768 non-null    int64
dtypes: float64(2), int64(7)
memory usage: 54.1 KB

In [21]:
pima.describe()

,pregnant,plasma,pressure,thickness,insulin,BMI,pedigree,age,class
count,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000
mean,3.845052,120.894531,69.105469,20.536458,79.799479,31.992578,0.471876,33.240885,0.348958
std,3.369578,31.972618,19.355807,15.952218,115.244002,7.884160,0.331329,11.760232,0.476951
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.078000,21.000000,0.000000
25%,1.000000,99.000000,62.000000,0.000000,0.000000,27.300000,0.243750,24.000000,0.000000
50%,3.000000,117.000000,72.000000,23.000000,30.500000,32.000000,0.372500,29.000000,0.000000
75%,6.000000,140.250000,80.000000,32.000000,127.250000,36.600000,0.626250,41.000000,1.000000
max,17.000000,199.000000,122.000000,99.000000,846.000000,67.100000,2.420000,81.000000,1.000000

In [22]:
pima['class'].value_counts()

0    500
1    268
Name: class, dtype: int64

### 2. train, test 분할

In [24]:
from sklearn.model_selection import train_test_split

In [27]:
X_train, X_test, y_train, y_test = train_test_split(
    pima, pima['class'], train_size = 0.2, random_state=2021
)

In [28]:
X_train, X_test, y_train, y_test

(     pregnant  plasma  pressure  thickness  insulin   BMI  pedigree  age  \
 640         0     102        86         17      105  29.3     0.695   27
 420         1     119        88         41      170  45.3     0.507   26
 135         2     125        60         20      140  33.8     0.088   31
 567         6      92        62         32      126  32.0     0.085   46
 543         4      84        90         23       56  39.5     0.159   25
 ..        ...     ...       ...        ...      ...   ...       ...  ...
 621         2      92        76         20        0  24.2     1.698   28
 128         1     117        88         24      145  34.5     0.403   40
 57          0     100        88         60      110  46.8     0.962   31
 341         1      95        74         21       73  25.9     0.673   36
 116         5     124        74          0        0  34.0     0.220   38

      class
 640      0
 420      0
 135      0
 567      0
 543      0
 ..     ...
 621      0
 128      1
 57       0
 341      0
 116      1

 [153 rows x 9 columns],
      pregnant  plasma  pressure  thickness  insulin   BMI  pedigree  age  \
 258         1     193        50         16      375  25.9     0.655   24
 220         0     177        60         29      478  34.6     1.072   21
 438         1      97        70         15        0  18.2     0.147   21
 130         4     173        70         14      168  29.7     0.361   33
 730         3     130        78         23       79  28.4     0.323   34
 ..        ...     ...       ...        ...      ...   ...       ...  ...
 643         4      90         0          0        0  28.0     0.610   31
 434         1      90        68          8        0  24.5     1.138   36
 620         2     112        86         42      160  38.4     0.246   28
 268         0     102        52          0        0  25.1     0.078   21
 55          1      73        50         10        0  23.0     0.248   21

      class
 258      0
 220      1
 438      0
 130      1
 730      1
 ..     ...
 643      0
 434      0
 620      0
 268      0
 55       0

 [615 rows x 9 columns],
 640    0
 420    0
 135    0
 567    0
 543    0
       ..
 621    0
 128    1
 57     0
 341    0
 116    1
 Name: class, Length: 153, dtype: int64,
 258    0
 220    1
 438    0
 130    1
 730    1
       ..
 643    0
 434    0
 620    0
 268    0
 55     0
 Name: class, Length: 615, dtype: int64)

### 3. 모델을 생성하고 학습

In [29]:
from sklearn.tree import DecisionTreeClassifier

In [30]:
dtc = DecisionTreeClassifier(random_state=2021)
dtc.fit(X_train,y_train)

DecisionTreeClassifier(random_state=2021)

### 4. 학습된 모델로 예측

In [31]:
pred = dtc.predict(X_test)

### 5. 예측값과 실제값을 비교하여 모델 성능을 평가

In [32]:
from sklearn.metrics import accuracy_score
accuracy_score(y_test,pred)

1.0

### 3-5과정과 하이퍼 파라메터 튜닝을 동시에

In [33]:
from sklearn.model_selection import GridSearchCV

In [34]:
params = {
    'max_depth': [2,4,5],
    'min_samples_split':[2,3,4]
}

In [35]:
dtc = DecisionTreeClassifier(random_state=2021)
grid_dtc = GridSearchCV(dtc,param_grid=params, cv=3)
grid_dtc.fit(X_train, y_train)

GridSearchCV(cv=3, estimator=DecisionTreeClassifier(random_state=2021),
             param_grid={'max_depth': [2, 4, 5],
                         'min_samples_split': [2, 3, 4]})

In [36]:
grid_dtc.best_score_

1.0

In [37]:
grid_dtc.best_params_

{'max_depth': 2, 'min_samples_split': 2}

In [38]:
grid_dtc.best_estimator_.predict(X_test)
accuracy_score(y_test,pred)

1.0